.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spin-button {
  margin-top: 22px;
  background-color: rgb(20, 20, 20);
  border: 0;
  color: rgb(223, 223, 223);
  width: 100px;
  height: 35px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  outline: 0;
  transition: 0.1s linear;
  cursor: pointer;
  letter-spacing: 0.7px;
  padding-top: 3px;
}

.spin-button:active {
  padding-top: 5px;
  background-color: rgb(41, 41, 41);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
